.product-container{display: flex;min-height: calc(100vh - 64px);
    .contents{max-width: 1600px; width: 100%;margin: auto;display: flex;}
}

.item-image-container {width: 500px;display: flex;position: relative;
    &:hover .view-product{display: block;}}
.view-product{position: absolute;z-index: 10;top: 0;right: 0;display: none;}

.product-image{width: 240px;margin: auto;}
.top-content{display: flex;}
.product-card.cart-card { margin: auto; width: 100%; padding: 12px;margin-bottom: 20px;}
.card-content{width: 100%;position: relative;}
.tile-title{margin-left: 50px;}
.list-section{padding-right: 30px;padding-top: 30px;height: calc(100vh - 120px);overflow-y: auto; -ms-overflow-style: none;scrollbar-width: none;
    &::-webkit-scrollbar {display: none;}
    &:nth-child(n + 2){margin-bottom: 20px;}   
}
.total-section{width: 100%; max-width: 300px;height: fit-content;position: sticky;top: 100px;}
.cart-section{display: flex;flex-direction: column;margin: auto;}
.lower-section{display: flex;}
.item-controls{display: flex;align-items: center;justify-content: flex-start;}
.quantity h2{margin: 0 !important;}
.delete-button{position: absolute;top: 0;right: 0;box-shadow: none;}
.no-items{background-color: bisque;}
.to-buy-button{box-shadow: none;}