<div class="top-container">
    <button mat-icon-button color="accent" (click)="drawer.toggle()" class="close-button">
        <mat-icon>menu</mat-icon>
    </button>
    <app-header></app-header>
</div>
<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side" opened>

        <app-sidebar></app-sidebar>

    </mat-drawer>
    <div class="product-container">
        <div class="contents">
            <div class="cart-section">

                <h1>Shopping Cart</h1>
                <mat-divider></mat-divider>

                <span class="lower-section">

                    <div class="list-section">

                        <mat-card class="product-card cart-card" *ngFor="let item of cartItemsWithDetails;let i=index">

                            <div class="top-content">
                                <div class="item-image-container">
                                    <img class="product-image" mat-card-image [src]='item.product.images[0].url' alt="Photo of a Shiba Inu">
                                </div>

                                <mat-card-content class="card-content">
                                    <mat-card-header>
                                        <mat-card-title>{{item.product.name | truncate : 35}}</mat-card-title>
                                        <mat-card-subtitle>From {{item.product.brand}}</mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-header>
                                        <h2>{{item.product.price | currency}}</h2>
                                    </mat-card-header>
                                    <div class="item-controls">
                                        <button mat-icon-button (click)="changeQuantity(item.product_id, 'decrease')">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                        <span class="quantity">
                                            <h2>{{ item.quantity }}</h2>
                                        </span>
                                        <button mat-icon-button (click)="changeQuantity(item.product_id, 'increase')">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                    <p class="total-amount">Total Per Item: {{ item.totalAmount | currency }}</p>

                                    <button class="delete-button" mat-mini-fab color="warn" (click)="removeFromCart(item.product_id)"
                                        matTooltip="Delete item from Cart">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-content>
                            </div>

                        </mat-card>

                    </div>

                    <div class="total-section">

                        <mat-card class="total-card">
                            <mat-card-header>
                                <mat-card-title>Cart Summary</mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <h3>Subtotal ( {{totalItems}} items) :</h3>
                                <h2> {{totalCartAmount | currency}}</h2>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-fab extended color="primary" (click)="proceedToBuy()">
                                    Proceed To Buy
                                    <mat-icon>exit_to_app</mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card>

                    </div>
                </span>

            </div>

        </div>

    </div>
</mat-drawer-container>