.product-container{display: flex;min-height: calc(100vh - 64px);    padding: 0 30px;
    .contents{max-width: 1600px; width: 100%;margin: auto;display: flex;}
}

.item-image-container {width: 500px;display: flex;position: relative;
    &:hover .view-product{display: block;}}
.view-product{position: absolute;z-index: 10;top: 0;right: 0;display: none;}

.product-image{width: 240px;margin: auto;}
.top-content{display: flex;}
.product-card.cart-card { margin: auto; width: 100%; padding: 12px;margin-bottom: 20px;}
.card-content{width: 100%;position: relative;}
.tile-title{margin-left: 50px;}
.list-section{padding-right: 30px;padding-top: 30px;height: calc(100vh - 120px);overflow-y: auto; -ms-overflow-style: none;scrollbar-width: none;
    &::-webkit-scrollbar {display: none;}
    &:nth-child(n + 2){margin-bottom: 20px;}   
}
.total-section{width: 100%; max-width: 300px;height: fit-content;position: sticky;top: 100px;}
.cart-section{display: flex;flex-direction: column;margin: auto;}
.lower-section{display: flex;}
.item-controls{display: flex;align-items: center;justify-content: flex-start;}
.quantity h2{margin: 0 !important;}
.delete-button{position: absolute;top: 0;right: 0;box-shadow: none;}
.no-items{background-color: bisque;}
.to-buy-button{box-shadow: none;}

/*---------------------------------------------------------------------------------------------*/
@media (max-width:1000px) {
    .product-container{padding: 30px;}
    .lower-section{flex-direction: column;}
    .item-image-container {width: 400px;display: flex;position: relative;}
    .list-section{padding-right: 0;height: unset;overflow-y: unset; }
    .total-section{width: 100%; max-width: unset;
        mat-card{margin: auto;width: 100%;max-width: 400px;}
    }
}

@media (max-width:750px) {
    .top-content{flex-direction: column;}
    .card-content{    display: flex;flex-direction: column;align-items: center;}
    .item-image-container {width: 330px;}
}

@media (max-width:420px) {
    .item-image-container {max-width: 300px;}
    .mat-mdc-card-title{font-size:18px} 
    .product-card.cart-card { padding: 8px;margin-bottom: 16px;max-width: 300px;}

}