.product-container{display: flex;min-height: calc(100vh - 64px);
    .contents{max-width: 1600px; width: 100%;margin: auto;display: flex;}
}

.item-image-container {width: 500px;display: flex;}
.product-image{width: 280px;margin: auto;}
.top-content{display: flex;}
.product-card.cart-card { margin: auto; width: 100%; padding: 12px;margin-bottom: 20px;}
.card-content{width: 100%;}
.tile-title{margin-left: 50px;}
.list-section{padding-right: 30px;padding-top: 30px;min-height: calc(100vh - 64px);overflow-y: auto;
    &:nth-child(n + 2){margin-bottom: 20px;}   
}
.total-section{width: 100%; max-width: 400px;height: fit-content;position: sticky;top: 100px;}
// .total-card{}