<div class="top-container">
    <button mat-icon-button color="accent" (click)="sidenav.toggle()" class="close-button">
        <mat-icon>menu</mat-icon>
    </button>
    <app-header></app-header>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="mobileQuery.matches ? 'false' : 'true'" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="product-container">
            <div class="contents">
                <mat-card class="product-card">

                    <div class="top-content">

                        <div class="image-section">

                            <div class="mini-images-section">
                                <ng-container *ngFor="let image of productImages; let i= index">
                                    <div class="image-div">
                                        <img class="images" (mouseenter)="showFullImage(image?.url)" mat-card-image src={{image?.url}}
                                            alt="{{i}}-th Image">
                                    </div>
                                </ng-container>
                            </div>
                            <div class="main-image-container">
                                <div class="image-container-list">
                                    <img [src]="selectedImage" alt="Product Image" class="main-image">
                                </div>
                            </div>

                        </div>

                        <mat-card-content class="card-content">
                            <mat-card-header>
                                <div mat-card-avatar><mat-icon> beenhere</mat-icon></div>
                                <mat-card-title>{{item?.name}}</mat-card-title>
                                <mat-card-subtitle>From {{item?.brand}}</mat-card-subtitle>
                            </mat-card-header>

                            <div class="information-container">
                                <div class="information-item">
                                    <h3 class="tile-title">Description</h3>
                                    <p class="tile-about">{{item?.description}}</p>
                                </div>
                                <div class="information-item">
                                    <h3 class="tile-title">Category</h3>
                                    <p class="tile-about">{{item?.category}}</p>
                                </div>
                                <div class="information-item">
                                    <h3 class="tile-title">Brand</h3>
                                    <p class="tile-about">{{item?.brand}}</p>
                                </div>
                                <div class="information-item">
                                    <h3 class="tile-title">Price</h3>
                                    <p class="tile-about">{{item?.price | currency}}</p>
                                </div>
                                <div class="information-item">
                                    <h3 class="tile-title">Sold By</h3>
                                    <p class="tile-about">{{item?.sold_by}}</p>
                                </div>
                            </div>


                            <mat-card-actions>
                                <!-- <button mat-flat-button color="primary" (click)="buyNow(item.id)">Buy Now</button> -->
                                <button mat-flat-button color="accent" (click)="addToCart(item.id)">Add To Cart</button>
                            </mat-card-actions>
                        </mat-card-content>
                    </div>

                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>