
.item-image-container {width: 500px;display: flex;}
.product-image{width: 280px;margin: auto;}
.top-content{display: flex;}
.card-content{width: 100%;}
.tile-title{margin-left: 50px;}
.product-card {max-width: calc(100vw - 100px); margin: auto; width: 100%; padding: 12px;}
.product-container{display: flex;min-height: calc(100vh - 64px);}
.contents{max-width: 1600px; width: 100%;margin: auto;display: flex;}
