<mat-toolbar color="primary">
    <mat-toolbar-row>

        <span class="header-title">hello</span>


        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>

        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            <span> Hi, User</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOut()">log out</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>