<mat-toolbar color="primary">
    <mat-toolbar-row>

        <span class="header-title" [routerLink]="'/home'">
            <img class="logo" src="assets\logo-colored.png" alt="">
        </span>

        <div class="navigation-buttons">
            <button mat-icon-button class="back-button" matTooltip="Go to Previous Page" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
        </div>

        <span class="example-spacer"></span>
        <button mat-icon-button (click)="goToCart()">
            <mat-icon aria-hidden="false" [matBadge]="cartItemCount" matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            <span> Hi, {{currentUser?.first_name}}</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOut()">log out</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>