<div class="top-container">
    <button mat-icon-button color="accent" (click)="drawer.toggle()" class="close-button">
        <mat-icon>menu</mat-icon>
    </button>
    <app-header></app-header>
</div>
<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side" opened>

        <app-sidebar></app-sidebar>

    </mat-drawer>
    <div class="product-container">
        <div class="contents">
            <form [formGroup]="productForm" class="product-form">

                <mat-card class="user-card">
                    <mat-card-header>
                        <mat-card-title>Add Product</mat-card-title>
                        <mat-card-subtitle>Enter All data</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>

                        <mat-form-field class="w100">
                            <mat-label>Product Name</mat-label>
                            <input matInput formControlName="name">
                            <mat-error *ngIf="productForm.get('name')?.hasError('required')">This is a Required Field</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w100">
                            <mat-label>Product Description</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                            <mat-error *ngIf="productForm.get('description')?.hasError('required')">This is a Required Field</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w100">
                            <mat-label>Product Brand</mat-label>
                            <input matInput formControlName="brand">
                            <mat-error *ngIf="productForm.get('brand')?.hasError('required')">This is a Required Field</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w100">
                            <mat-label>Selling Price</mat-label>
                            <input placeholder="987654.32" matInput formControlName="price">
                            <span matTextPrefix>$&nbsp;</span>
                            <mat-error *ngIf="productForm.get('price')?.hasError('required')">This is a Required Field</mat-error>
                            <mat-error *ngIf="productForm.get('price')?.hasError('pattern')">Please add valid Data</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w100">
                            <mat-label>Select Category</mat-label>
                            <mat-select formControlName="category">
                                <mat-option [value]="category" *ngFor="let category of categories">{{category}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="productForm.get('category')?.hasError('required')">This is a Required Field</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w100">
                            <mat-label>Product Seller</mat-label>
                            <input matInput formControlName="sold_by">
                            <mat-error *ngIf="productForm.get('sold_by')?.hasError('required')">This is a Required Field</mat-error>
                        </mat-form-field>

                    </mat-card-content>

                </mat-card>

                <mat-card class="image-card">
                    <mat-card-content>

                        <span class="w100">

                            <mat-label>Product Images</mat-label>
                            <input style="display: none" id="imageInput" type="file" (change)="handleImageInput($event)" accept="image/*" multiple>
                            <label for="imageInput" class="file-input-label">
                                Upload Images
                            </label>
                            <mat-error *ngIf="productForm.get('images')?.hasError('required')">This is a Required Field</mat-error>

                        </span>
                        <div class="image-preview-section">
                            <ng-container *ngFor="let image of imageArray; , let i=index">
                                <div class="image-div">
                                    <img [src]="image.url" alt="Product Image" class="uploaded-image">
                                    <button class="removeImage-button" color="warn" mat-icon-button type="button"
                                        (click)="removeImage(i)"><mat-icon>delete</mat-icon></button>
                                </div>
                            </ng-container>
                        </div>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-flat-button color="primary" type="submit" (click)="saveProduct()">Save</button>
                        <button mat-flat-button color="warn" type="button">Cancel</button>
                    </mat-card-actions>
                </mat-card>
            </form>

        </div>

    </div>
</mat-drawer-container>