.product-card {width: 400px; margin: 14px;padding: 12px;}
.product-container{display: flex;    min-height: calc(100vh - 64px);}
.contents{max-width: 1600px; width: 100%;margin: auto;display: flex;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}