<div class="top-container">
    <button mat-icon-button color="accent" (click)="sidenav.toggle()" class="close-button">
        <mat-icon>menu</mat-icon>
    </button>
    <app-header></app-header>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="mobileQuery.matches ? 'false' : 'true'" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="product-container">
            <div class="contents">
                <ng-container *ngFor="let product of products">
                    <mat-card class="product-card">
                        <mat-card-header (click)="viewProduct(product.id)">
                            <mat-card-title>{{product.name}}</mat-card-title>
                            <mat-card-subtitle>From {{product.brand}}</mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-container">
                            <img class="prod-image" (click)="viewProduct(product.id)" mat-card-image [src]='product.images[0].url'
                                alt={{product.name}}>
                        </div>
                        <mat-card-content (click)="viewProduct(product.id)">
                            <h2>{{product.price | currency}}</h2>
                            <p>
                                {{product.description | truncate : 80}}
                            </p>
                        </mat-card-content>
                    </mat-card>

                </ng-container>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>