<nav class="sidebar">
    <ul class="side-list">
        <a [routerLink]="'/home'" class="side-link" routerLinkActive="active">
            <span>Home</span>
        </a>
        <a [routerLink]="'/cart'" class="side-link" routerLinkActive="active">
            <span>Cart</span>
        </a>
        <a *ngIf="token == 'admin'" [routerLink]="'/all-products'" class="side-link" routerLinkActive="active">
            <span>All Products</span>
        </a>
        <a [routerLink]="'/my-orders'" class="side-link" routerLinkActive="active">
            <span>My Orders</span>
        </a>
        <a [routerLink]="'/responses'" class="side-link" routerLinkActive="active">
            <span>Responses</span>
        </a>
    </ul>
</nav>