<div class="login-wrapper">
    <div class="login-form mat-elevation-z8">
        <form [formGroup]="signUpForm">
            <h1>Welcome Back!</h1>
            <h4>Create New Account</h4>

            <mat-form-field class="w100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="first_name">
                <mat-error *ngIf="signUpForm.get('first_name')?.hasError('required')">This is a Required Field</mat-error>
                <mat-error *ngIf="signUpForm.get('first_name')?.hasError('pattern')">Please Enter Valid Value</mat-error>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name">
                <mat-error *ngIf="signUpForm.get('last_name')?.hasError('required')">This is a Required Field</mat-error>
                <mat-error *ngIf="signUpForm.get('last_name')?.hasError('pattern')">Please Enter Valid Value</mat-error>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">This is a Required Field</mat-error>
                <mat-error *ngIf="signUpForm.get('email')?.hasError('pattern')">Please Enter Valid Value</mat-error>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Mobile</mat-label>
                <input matInput formControlName="phone">
                <mat-error *ngIf="signUpForm.get('phone')?.hasError('required')">This is a Required Field</mat-error>
                <mat-error *ngIf="signUpForm.get('phone')?.hasError('pattern')">Please Enter Valid Value</mat-error>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    title="view password">
                    <mat-icon class="eye-icon" [ngStyle]="{'color':'#B0B0B0'}">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">This is a Required Field</mat-error>
                <mat-error *ngIf="signUpForm.get('password')?.hasError('pattern')">Please Enter Valid Value</mat-error>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm_password">
                <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideConfirm">
                    <mat-icon class="eye-icon" [ngStyle]="{'color':'#B0B0B0'}">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="signUpForm.get('confirm_password')?.hasError('required')">This is a Required Field</mat-error>
                <mat-error *ngIf="signUpForm.get('confirm_password')?.hasError('passwordMismatch')">Password not Matching</mat-error>
            </mat-form-field>

            <div class="login-line">
                <button mat-flat-button color="primary" (click)="signup()" class="uppercase" title="login">
                    <h5>login</h5>
                </button>
            </div>

            <p>Already Have an Account ?<a routerLink="/login" title="login here"> LOGIN</a> </p>
        </form>
    </div>